[submodule "submodules/Slim"]
	path = submodules/Slim
	url = https://github.com/codeguy/Slim.git
[submodule "public/web/steal"]
	path = public/web/steal
	url = http://github.com/jupiterjs/steal.git
[submodule "public/web/jquery"]
	path = public/web/jquery
	url = http://github.com/jupiterjs/jquerymx.git
[submodule "public/web/documentjs"]
	path = public/web/documentjs
	url = http://github.com/jupiterjs/documentjs.git
[submodule "public/web/funcunit"]
	path = public/web/funcunit
	url = http://github.com/jupiterjs/funcunit.git
